@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
	outline: none;
}
html{
	min-height: 100vh;
}
body{
	overflow-x: hidden;
  background-color: white;
	display: flex;
	font-family: 'Poppins', sans-serif;
	color: #11101d;
	margin: 0;
	box-sizing: border-box;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .7s ease;
}
.background{
  background-size: cover;
	background-position: 50% 50%;
	background-image: url("../imgZoom/background.jpg"); 
  transform: translate3d(0px, 0px, 0px);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
.background.active{
  -webkit-animation: 55s linear 0s infinite alternate moveBack;
	   -moz-animation: 55s linear 0s infinite alternate moveBack;
		   -o-animation: 55s linear 0s infinite alternate moveBack;
			    animation: 55s linear 0s infinite alternate moveBack;
}
body.active{
  justify-content: unset;
  align-items: unset;
}
.days{
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.back{
  position: absolute;
	top: 1rem;
	left: 1rem;
	padding: .3rem 1rem .4rem;
	border-radius: 10px;
	align-items: center;
  cursor: pointer;
  display: none;
  transition: all .7s ease;
  font-size: 1.5rem;
  background-color: white;
  z-index: -1;
}
.back img{
  width: 2rem;
}
.back.active{
  display: flex;
  z-index: 1004;
}
body .back{
  background-color: white;
  color: rgba(14,18,45,1);
}
.days.active{
  display: flex;
}
.days button{
  padding: .5rem 1rem;
  width: 20rem;
	text-align: center;
  border-radius: 10px;
	position: relative;
  font-family: 'Rubik', sans-serif;
	margin-bottom: 2rem;
	transition: all .7s ease;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: .5px;
	font-size: 2rem;
}
.days button:last-child{
  margin-bottom: 0;
}
body.light .days button{
  background-color: white;
  color: rgba(14,18,45,1);
}
body.dark .days button{
  background-color:rgba(14,18,45,1);
  color: white;
}
body .days button:hover,body .days button:hover{
  background-color: #507cff;/* #43CBFF; */
  color: white;
  transform: scale(1.1);
}
@media(max-width: 340px){
  .days button{
    width: 19rem;
  }
  .back{
    top: .5rem;
    left: .5rem;
  }
}
@media(max-width: 480px){
  /* .days{
    margin-top: 1rem;
  } */
  .days button{
    margin-bottom: 1rem;
  }
}
@-webkit-keyframes moveBack { from { background-position: 80% 50%; } to { background-position: 20% 50%; }  }
   @-moz-keyframes moveBack { from { background-position: 80% 50%; } to { background-position: 20% 50%; }  }
     @-o-keyframes moveBack { from { background-position: 80% 50%; } to { background-position: 20% 50%; }  }
        @keyframes moveBack { from { background-position: 80% 50%; } to { background-position: 20% 50%; }  }