@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

$font-3: 'Nunito', sans-serif;

body{
	display: flex;
	justify-content: center;
	align-items: center;
  min-height: 100vh;
  margin: 0;
}

.schedule {
	margin: 0;
	padding: 1.5rem;
	border-radius: 30px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin: 1rem 0;
  
  .schedule__title {
    max-width: 700px;
    color: #fff;
    background: #5800FF;
    border-radius: 20px;
    padding: 1rem;
    font-family: $font-3;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
  }
  
  .schedule__lessons{
    margin-top: 2rem;
    margin: 0 auto;

    .schedule__lesson{
      display: flex;
      align-items: center;
      margin-top: .5rem;
      width: 100%;
      background: #293462;
      color: white;
      border-radius: 20px;
      padding: .5rem 0;
      font-family: $font-3;

      &:first-child{
        margin-top: 1.5rem;
      }

      .lesson__number{
        padding-left: 1rem;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        margin: 0;
      }

      .lesson__time {
        margin: 0 auto;
        font-weight: 400;
        font-size: 2rem;
      }
    }
  }
}



// Schedule page media queries
@media(max-width:768px) {
	.schedule{
		width: 80%;
		margin-top: 5rem;
		padding: 1rem;
    
    .schedule__title{
      font-size: 2rem;
    }
	}
}

@media(max-width:768px) {
  .schedule{
    .schedule__title{
      font-size: 1rem;
    }
  }
}
