@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
:root{
	--back-color-1:#507cff;
}
*{
	outline: none;
}
html{
	min-height: 100vh;
}
body{
	overflow-x: hidden;
	display: flex;
	font-family: 'Poppins', sans-serif;
	color: #11101d;
	margin: 0;
	min-height: 100vh;
	box-sizing: border-box;
	flex-direction: column;
}
.time{
	position: fixed;
	background-color: #140d23;
	color: white;
	bottom: 0;
	transform: translate(0,100%);
	opacity: 0;
	border-radius: 20px 20px 0 0;
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 2rem;
	padding: .5rem 1rem;
	width: 25rem;
	text-align: center;
  	font-family: 'Rubik', sans-serif;
	transition: all .7s ease;
  	letter-spacing: .5px;
}
.time.active{
	opacity: 1;
	transform: translate(0);
}
.time.noactive{
	display: none;
}
.time .whatDay{
	margin-right: 3rem;
}
.time .whatTime{
	display: flex;
	align-items: center;
	justify-content: center;
}
.time .whatTime p{
	margin: 0;
	width: 3rem;
	text-align: center;
}
.classInfo{
	padding: .5rem;
	background-color: white;
	margin: .5rem;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all .7s ease;
	transform: translate(0,-300%);
	display: none;
}
.classInfo.active{
	display: flex;
}
.classInfo .name{
  	font-family: 'Rubik', sans-serif;
  	font-weight: bold;
  	letter-spacing: .5px;
	font-size: 2rem;
  	transform: translate(0,.15rem);
}
.classInfo img{
	position: absolute;
	transition: all .7s ease;
	top: 18%;
	left: 1rem;
	width: 2rem;
	cursor: pointer;
	opacity: 0;
}
.classInfo img.active{
	opacity: 1;
}
.btns{
	display: none;
	flex-direction: column;
	padding: .5rem;
	flex: 1 1 auto;
}
.btns.active{
  	display: flex;
}
.btns .lesson{
	border-radius: 10px;
	overflow: hidden;
	transition: all .7s ease;
	transform: translate(300%,0);
}
.btns .lesson.active{
	transform: translate(0);
}
.btns .lesson .btn{
	display: flex;
	position: relative;
	transition: all .7 ease;
	z-index: 10;
}
.btns .lesson .btn button.lessonBtn{
	text-decoration: none;
	color:#000;
	padding: .5rem 2rem;
	font-size: 1.5rem;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	border-radius: 10px;
	background: #fff;
	border: none;
	cursor: pointer;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	letter-spacing: .5px;
	position: relative;
}
.btns .lesson .btn button.lessonBtn.showLesson{
	-webkit-animation: 1s linear 0s 6 alternate showLesson;
	   -moz-animation: 1s linear 0s 6 alternate showLesson;
		 -o-animation: 1s linear 0s 6 alternate showLesson;
			animation: 1s linear 0s 6 alternate showLesson;
}
@-webkit-keyframes showLesson { from { color:#000;background: #fff; } to { color:#fff;background: #000; } }
   @-moz-keyframes showLesson { from { color:#000;background: #fff; } to { color:#fff;background: #000; } }
     @-o-keyframes showLesson { from { color:#000;background: #fff; } to { color:#fff;background: #000; } }
        @keyframes showLesson { from { color:#000;background: #fff; } to { color:#fff;background: #000; } }
.btns .lesson .btn img{
	position: absolute;
	transition: all .7s ease;
	top: 50%;
	margin-top: -0.625em;
	right: .5rem;
	width: 1.5rem;
	cursor: pointer;
}
.btns .lesson .btn .lessonNumber{
	position: absolute;
	left: .5rem;
}
.btns .lesson .btn img.active{
	transform: rotate(45deg);
}
.btns .lesson .teachers{
	padding: .5rem;
	transform: translate(0,-150%);
	background: rgba(255,255,255,0.2);
	-webkit-backdrop-filter: blur(15px);
	-moz-backdrop-filter: blur(15px);
	-o-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	border-radius: 0 0 10px 10px;
	transition: all .7s ease;
	padding-top: 1rem; 
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: .3rem;
}
.btns .lesson .teachers.active{
	transform: translate(0,-.5rem);
}
.btns .lesson .teachers .teacher{
	display: flex;
	flex-direction: column;
}
.btns .lesson .teachers .teacher .info{
	background-color: white;
	border-radius:  10px 10px 0 0;
	padding: .5rem;
	font-size: 1.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
}
.btns .lesson .teachers .teacher .info .desc{
  text-align: center;
}
.btns .lesson .teachers .teacher button{
	text-decoration: none;
	color:var(--back-color-1);
	padding: .5rem 2rem;
	font-size: 1.5rem;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	border: none;
	border-top: 1px solid #d6d6d6;
	border-radius: 0 0 10px 10px;
	background: #fff;
	cursor: pointer;
  	transition: all .7s ease;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
}
.btns .lesson .teachers .teacher button.QRCode{
	border-radius: 10px;
	margin-top: .3rem;
}
.HTMLQRCodeBLock{
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: white;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	display: none;
}
.HTMLQRCodeBLock.active{
	display: flex;
}
.HTMLQRCodeBLock .cross{
	position: absolute;
	right: 1rem;
	top: 1rem;
}
.HTMLQRCodeBLock .teacherName{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	letter-spacing: .5px;
	font-size: 2rem;
}
.HTMLQRCodeBLock .code{
	display: flex;
	justify-content: center;
	align-items: center;
}
.HTMLQRCodeBLock .cross:hover{
	cursor: pointer;
}
.btns .lesson .teachers .teacher button:hover{
  background-color:var(--back-color-1);
  color: white;
  border-top-color: transparent;
}
br.mobile{
  display: none;
}
@media(max-width: 320px){
	.btns .lesson .btn img{
		width: 1.5rem;
    	top: 20%;
	}
	.classInfo .name{
		font-size: 1.5rem;
	}
}
@media(max-width: 380px){
	.btns .lesson .btn img{
		width: 1.5rem;
    top: 20%;
	}
  br.mobile{
    display: unset;
  }
}
@media(max-width: 620px){
	.btns .lesson .teachers{
		grid-template-columns: repeat(1,1fr);
		grid-gap: .5rem;
	}
	.btns .lesson .teachers .teacher button.QRCode{
		display: none;
	}
} 
@media (max-width:480px) {
	.btns .lesson .btn button.lessonBtn .lessonBtnText{
		font-size: 1.3rem;
	}
	.time {
		width: 85vw;
		font-size: 1.5rem;
	}
	.time .whatDay{
		margin-right: auto;
		margin-left: .5rem;
	}
	.time .whatTime p{
		width: 2.4rem;
	}
	.time .whatTime{
		margin-right: .5rem;
	}
	/* .btns .lesson .btn .lessonNumber{
		top: .24rem;
	} */
}
@media(min-width: 620px) and (max-width: 960px){
	.btns .lesson .teachers{
		grid-template-columns: repeat(2,1fr);
		grid-gap: .5rem;
	}
}
@media(min-width: 960px){
	.btns .lesson .teachers{
		grid-template-columns: repeat(3,1fr);
		grid-gap: .5rem;
	}
}
/*@media(min-width: 1280px){
	.btns .lesson .teachers{
		grid-template-columns: repeat(4,1fr);
		grid-gap: .3rem;
	}
}*/
