@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root{
	--font-1: 'Rubik', sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	overflow-x: hidden;
	display: flex;
	font-family: 'Poppins', sans-serif;
	color: #11101d;
	margin: 0; 
 min-height: 100vh;
	box-sizing: border-box;
}

p{
	text-align: justify;
	font-size: 19px;
	color: rgb(43, 34, 34);
}

li{
	text-align: justify;
	margin-top: 5px;
	font-size: 17px;
	color: rgb(0, 0, 0);
}

.back.active {
	display: flex;
	z-index: 1004;
}

body .back {
	background-color: white;
	color: rgba(14, 18, 45, 1);
}

.back {
	position: absolute;
	top: 1rem;
	left: 1rem;
	padding: 0.3rem 1rem 0.4rem;
	border-radius: 10px;
	align-items: center;
	cursor: pointer;
	display: none;
	transition: all .7s ease;
	font-size: 1.5rem;
	background-color: white;
	z-index: -1;
}
.back img{
	width: 2rem;
  }

.main_board {

	display: flex;
	max-width: 40rem;
	margin: 2rem 0;
	padding: 1.5rem;
	border-radius: 30px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
}

.tele_img {
	display: flex;
	justify-content: center;
	align-items: center;
}
.info{
	font-family: var(--font-1);	
	font-weight: 500;
}

@media (max-width:750px) {
	.main_board {
		display: block;
		margin: 5.5rem 1rem 1rem;
	}
}

