@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

:root{
	--font-1: 'Poppins', sans-serif;
	--font-2: 'Rubik', sans-serif;
	--font-3: 'Nunito', sans-serif;
}
*{
    box-sizing: border-box
 }

 *{transition:.3s linear;}

 body {
    background-color: #41b5d86b;
    min-height: 100vh;
    box-sizing: border-box;
    
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    font-family: var(--font-1);
}


header {
    text-align: center;
    margin-bottom: 0px;
}


.img-rules {
    width: 13rem;
    border-radius:10px;
}

nav{
    margin: 0 8rem 1.5rem;
    border-radius:10px;
    background-color:#0093ff;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}


li {
    display:flex;
    text-align: center;
}


a {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: var(--font-2);
    color: white;
    padding: .8rem;
}
a:hover{
    background-color:rgb(255, 255, 0);
    color:black;
}

li:last-child {
    margin-right: 0px;
}

.rules-box-1{
    background-color: snow;
    margin: 0 8rem 2.1rem;
    padding: 0 3rem .5rem;
    border-radius: 10px;
    text-align: center;
}


.text-title-1{
    padding-top: 25px;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--font-2);
}


.rules-title-box{
    height: 60px;
    text-align: center;
}


.rules-slide{
    height: 190px;
    width: 400px;
    margin: 0 auto 1.2rem;
}
.rules-slide:first-child{
    margin-top: 1rem;
}


.last-rules-slide{
    padding-top: 30px;
    height: 240px;
    width: 660px;
    margin-bottom: 20px;
}


.rules-mini-box{
    text-align: center;
}
img{
    border-radius: 10px;
}

.rules-text{
    margin: 0 0 1.5rem;
    padding-bottom: .5rem;
    text-align: center;
    font-size: 20px;
    font-family: var(--font-2);
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 5px 4px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 4px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 4px -5px rgba(34, 60, 80, 0.6);
}


.last-rules-text{
    margin-bottom: 30px;
    font-size: 25px;
    color: rgb(0, 13, 128);
    font-family: var(--font-2);
}


span{
    color: rgb(235, 31, 253);
}


.rules-box-2{
    background-color: snow;
    margin: 0 auto;
    padding: 0 3rem .5rem;
    margin: 0 8rem 2.1rem;
    padding-bottom: .5rem;
    border-radius: 10px;
}


.text-title-2{
    padding-top: 25px;
    margin-bottom: .5rem;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--font-2);
}


.red{
    color: red;
}

.last-rules-text-2{
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    color: rgb(0, 13, 128);
    font-family: var(--font-2);
}

.false-box{
    height: 10px;
}

@media(max-width:1024px){
    .rules-box-1,.rules-box-2,nav{
        margin: 0 0 2.1rem;
    }
}
@media(max-width:1200px){
    a{
        font-size: .9rem;
    }
}
@media(max-width:960px){
    .text-title-1,.text-title-2{
        font-size: 1.3rem;
    }
}
@media(max-width:768px){
    nav{
        overflow: hidden;
    }
    ul{
        flex-direction: column;
        align-items: center;
    }
    li a,li{
        width: 100%;
    }
    .text-title-1,.text-title-2{
        font-size: 1rem;
    }
}
@media(max-width:350px){
    .text-title-1,.text-title-2{
        font-size: .7rem;
    }
}
@media(max-width:550px){
    .rules-slide{
        height: unset;
        width: 100%;
    }
    .rules-text{
        font-size: 1rem;
    }
    .last-rules-text,.last-rules-text-2{
        font-size: 1.2rem;
    }
}