<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Zoom Codes</title>

    <link rel="apple-touch-icon" sizes="120x120" href="../../imgZoom/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../imgZoom/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../imgZoom/favicons/favicon-16x16.png">
    <link rel="manifest" href="../../imgZoom/favicons/site.webmanifest">
    <link rel="mask-icon" href="../../imgZoom/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/class.css">
  </head>

<body>

  <div class="days">
    <button id="day1">ПОНЕДІЛОК</button>
    <button id="day2">ВІВТОРОК</button>
    <button id="day3">СЕРЕДА</button>
    <button id="day4">ЧЕТВЕР</button>
    <button id="day5">П'ЯТНИЦЯ</button>
  </div>
  
  <div class="time">
    <div class="whatDay"></div>
    <div class="whatTime"><p class="h"></p>:<p class="m"></p>:<p class="s"></p></div> 
  </div>

  <header class="classInfo">
    <div class="name"></div>
    <img src="https://img.icons8.com/ios-filled/50/000000/long-arrow-left.png"/> 
  </header>

  <section class="btns day1">

    <div class="lesson" lessonName="ФІЗИКА"                   teachers="2"></div>
    <div class="lesson" lessonName="ХІМІЯ"                    teachers="30"></div>
    <div class="lesson" lessonName="УКРАЇНСЬКА МОВА"          teachers="27"></div>
    <div class="lesson" lessonName="МАТЕМАТИКА"               teachers="29"></div>
    <div class="lesson" lessonName="ГЕОГРАФІЯ"                teachers="4"></div>
    <div class="lesson" lessonName="УКРАЇНСЬКА ЛІТЕРАТУРА"    teachers="27"></div>
    <div class="lesson" lessonName="ФІНАНСОВА КУЛЬТУРА"       teachers="22"></div>

  </section>

  <section class="btns day2">

    <div class="lesson" lessonName="АНГЛІЙСЬКА МОВА"          teachers="20"></div>
    <div class="lesson" lessonName="БІОЛОГІЯ"                 teachers="24"></div>
    <div class="lesson" lessonName="ЗАРУБІЖНА ЛІТЕРАТУРА"     teachers="12"></div>
    <div class="lesson" lessonName="ОСНОВИ ЗДОРОВ'Я"          teachers="26"></div>
    <div class="lesson" lessonName="ІСТОРІЯ УКРАЇНИ"          teachers="38"></div>
    <div class="lesson" lessonName="ОБРАЗОТВОРЧЕ МИСТЕЦТВО"   teachers="5"></div>
    <div class="lesson" lessonName="ФІЗИЧНА КУЛЬТУРА"         teachers="15"></div>

  </section>

  <section class="btns day3">

    <div class="lesson" lessonName="ФІЗИЧНА КУЛЬТУРА"         teachers="15"></div>
    <div class="lesson" lessonName="АНГЛІЙСЬКА МОВА"          teachers="20"></div>
    <div class="lesson" lessonName="МАТЕМАТИКА"               teachers="29"></div>
    <div class="lesson" lessonName="УКРАЇНСЬКА МОВА"          teachers="27"></div>
    <div class="lesson" lessonName="МУЗИЧНЕ МИСТЕЦТВО"        teachers="11"></div>
    <div class="lesson" lessonName="ТРУДОВЕ НАВЧАННЯ"         teachers="36,30"></div>
    <div class="lesson" lessonName="ХІМІЯ"                    teachers="30"></div>

  </section>

  <section class="btns day4">

    <div class="lesson" lessonName="УКРАЇНСЬКА МОВА"          teachers="27"></div>
    <div class="lesson" lessonName="УКРАЇНСЬКА ЛІТЕРАТУРА"    teachers="27"></div>
    <div class="lesson" lessonName="БІОЛОГІЯ"                 teachers="24"></div>
    <div class="lesson" lessonName="МАТЕМАТИКА"               teachers="29"></div>
    <div class="lesson" lessonName="ГЕОГРАФІЯ"                teachers="4"></div>
    <div class="lesson" lessonName="ЮНИЙ ГЕОГРАФ КРАЄЗНАВЕЦЬ" teachers="4"></div>

  </section>

  <section class="btns day5">

    <div class="lesson" lessonName="ФІЗИЧНА КУЛЬТУРА"         teachers="15"></div>
    <div class="lesson" lessonName="ФІЗИКА"                   teachers="2"></div>
    <div class="lesson" lessonName="МАТЕМАТИКА"               teachers="29"></div>
    <div class="lesson" lessonName="АНГЛІЙСЬКА МОВА"          teachers="20"></div>
    <div class="lesson" lessonName="ЗАРУБІЖНА ЛІТЕРАТУРА"     teachers="12"></div>
    <div class="lesson" lessonName="ВСЕСВІТНЯ ІСТОРІЯ"        teachers="38"></div>
    <div class="lesson" lessonName="ІНФОРМАТИКА"              teachers="8"></div>

  </section>

  <script src="../../js/nav.js"></script>
  <script src="../../js/teachers.js"></script>
  <script type="module" src="../../js/class.js"></script>

</body>

</html>